body>header {
    padding: 0px;
}

body>nav {
    z-index: 99;
    top: 0;
    right: 0;
    height: 8vh;
    left: 0;
    position: fixed;
    padding: 0 var(--spacing);
    background-color: var(--card-background-color);
    box-shadow: var(--card-box-shadow);
}
